.h1-intro {
	font-size: 32px; /* Tamanho da fonte */
	color: #333; /* Cor do texto */
	text-align: center; /* Centraliza o texto */
	margin: 20px 0; /* Espaçamento acima e abaixo */
	font-family: "Arial", sans-serif; /* Define a fonte */
	letter-spacing: 2px; /* Espaçamento entre as letras */
	text-transform: uppercase; /* Transforma o texto para letras maiúsculas */
	border-bottom: 2px solid #ddd; /* Adiciona uma linha abaixo do texto */
	padding-bottom: 10px; /* Espaçamento entre o texto e a linha */
}

.ul-intro {
	list-style-type: disc; /* Adiciona marcadores à lista */
	padding-left: 20px; /* Espaçamento à esquerda para os marcadores */
	margin: 0;
}

.ul-intro li {
	margin-bottom: 10px; /* Espaço entre os itens da lista */
}

.ul-intro li a {
	text-decoration: none; /* Remove o sublinhado dos links */
	color: #333; /* Cor do texto */
}

footer {
	background-color: #333; /* Cor de fundo do rodapé */
	color: white; /* Cor do texto */
	text-align: center; /* Centraliza o conteúdo */
	padding: 20px; /* Espaçamento interno */
	position: relative;
	bottom: 0;
	width: 100%; /* Garante que o rodapé ocupe toda a largura */
}

footer p {
	margin: 0; /* Remove as margens do parágrafo */
	font-size: 14px; /* Tamanho da fonte */
}
