.counter-container {
	text-align: center;
	font-family: Arial, sans-serif;
	
}
.counter-display {
	font-size: 5rem;
	margin-top: 0;
	margin-bottom: 25px;
}
.counter-button {
	width: 100px;
	height: 25px;
	font-size: 1rem;
	font-weight: bold;
	margin: 0px 5px;
	background-color: hsl(197, 100%, 58%);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.counter-button:hover {
	background-color: hsl(197, 100%, 48%);
}